@model seyahatSitesiMVC.Models.siniflar.yorumlar
@{
    ViewBag.Title = "yorumGetir";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>YORUM DETAY ALANI</h2>

@using (Html.BeginForm("yorumGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.KullaniciAdi)
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })

    <br />

    @Html.LabelFor(x => x.Yorum)
    @Html.TextBoxFor(x => x.Yorum, new { @class = "form-control" })

    <br />

    <button class="btn btn-danger">Güncelle</button>

}